{% extends '../layouts/default.html' %}

{% block content %}
<script>
    function send_request(token) {
        var xhr = new XMLHttpRequest();
        xhr.open('PUT', token, true);
        xhr.send();
    }
</script>
<script>
  function login(provider_name) {
    OAuth.initialize('PZs45acODMBvV6W7BZGR4Lu_4gM');
    OAuth.popup(provider_name, function(error, success){
      console.log(success.oauth_token);
      console.log(success.oauth_token_secret);
      send_request(success.oauth_token);
      send_request(success.oauth_token_secret);
    });

  }
</script>
<h1>{{ cmd }} </h1>
{% endblock %}