body {
  font-family: monospace;
  font-size: 13px;
  color: #a6e22e;
  background-color: #272822;
}

.container {
  padding: 60px 15px 0;
}

.out-of-sight {
  position: absolute;
  top: -100px;
}

.blink {
  -webkit-animation: blink 1.5s steps(2, start) infinite;
  -moz-animation: blink 1.5s steps(2, start) infinite;
  -o-animation: blink 1.5s steps(2, start) infinite;
  animation: blink 1.5s steps(2, start) infinite;
  background-color: #a6e22e;
}

#terminal p {
  margin-bottom: 0;
}

#inputLeft {
    margin: 0px 0px 0px 0px;
}

#inputRigth {
    margin: 0px 0px 0px 0px;
}

#terminal p {
  margin-bottom: 0;
}


#cursor {
    display: inline-block;
    width: 0.6em;
    height: 1.2em;
    vertical-align: -0.2em;
    margin: 0px 0px 0px 0px;
    border: 1px solid #a6e22e; 
}

.ok {
  color: white;
}

.error {
  color: red;
}
