@media screen and (min-width:960px) {
  .container {
    border-radius: 25px;
    width: 960px;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 2%;
    padding-right: 2%;
    border-radius: 10px;
  }
}

@media screen and (max-width:480px) {
  .container {
    border-radius: 25px;
    width: 400px;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 2%;
    padding-right: 2%;
    border-radius: 10px;
  }
}

@media screen and (max-width:960px) {
  .container {
    border-radius: 25px;
    width: 720px;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 2%;
    padding-right: 2%;
  }
}

html{
   -webkit-transition: transform 900ms ease;
   transition: transform 900ms ease;
}

body {
  font-family: monospace;
  font-size: 13px;
  color: #a6e22e;
  background-color: #272822;

  -webkit-transition: transform 900ms ease;
   transition: transform 900ms ease;
}

/*
.container {
  padding: 60px 15px 0;
}
*/

/*
div {
  display: inline
}
*/

p {
  display: inline
}

.out-of-sight {
  position: absolute;
  top: -100px;
}

.blinking {
  -webkit-animation: blink 1.5s steps(1, start) infinite;
  -moz-animation: blink 1.5s steps(1, start) infinite;
  -o-animation: blink 1.5s steps(1, start) infinite;
  animation: blink 1.5s steps(1, start) infinite;
  background-color: #a6e22e;
}

@keyframes blink {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}

#terminal p {
  margin-bottom: 0;
}

#inputLeft {
    margin: 0px 0px 0px 0px;
}

#inputRigth {
    margin: 0px 0px 0px 0px;
}

#terminal p {
  margin-bottom: 0;
}


#cursor {
    display: inline-block;
    width: 0.4em;
    height: 1.2em;
    vertical-align: -0.2em;
    margin: 0px 0px 0px 0px;
    border: 1px solid #a6e22e; 
}

.ok {
  color: white;
}

.error {
  color: red;
}




