<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>CoLiW</title>
        <link rel="stylesheet" href="/css/StyleSheet.css">
    </head>
    <body>
    <form action="/authProviders" method="post"  style="font-family:monospace;">
        <span style="color:green;">{{username}}</span>@<span style="color:white;">CoLiW</span> &gt; 
        <input type="text" name="cmd"  style=" width:500px;" ><br>
        <input type="submit" style="visibility: hidden;"/>
    </form>

    <p id = "output" >{{output}} </p>
    {% block content %}{% endblock %}
    </body>
</html>