<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>CoLiW</title>

        <link rel="stylesheet" href="/css/StyleSheet.css">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"> </script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
        <script src="/js/js.js"> </script>
    </head>
    <body>
        <input class="out-of-sight" type="text">
        <div class="container">
          <div class="row">
            <div id="terminal">
              <div id="linie_principala" class="linie">
                  <p id="line">
                    <span id="prompt">user:~$</span> 
                    <span id="inputLeft"></span>
                    <!--<span id="cursor" class="blinking"></span>-->
                    <span ng-app="blink" id="cursor" class="blinking"></span>
                    <span id="inputR  igth"></span>
                  </p>
              </div>
            </div>
          </div>
        </div>
    </body>
</html>

